:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color:#000000;
    --background-primary-color: #F5F4FA;
    --footer-text-color:rgba(255, 255, 255, 0.6);
    --background-hero-footer-color:#2F303A;
}

body {
    background: var(--background-primary-color);
    color: var(--primary-text-color) ;
    font-family: 'Roboto', Raleway;
    font-size: 14px;
    line-height: 1.14;
    width: 1200px;
    height: 2346px;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-header {   
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white-color);
}

.menu {
    display: flex;
    align-items: center;   
}

.page-logo {
    display: inline-block;
    margin-right: 93px;

    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    letter-spacing: 0.03em;
    color:var(--accent-text-color);    
}    

.logo {
    color: var(--accent-color);
}

.site-nav {
    display: flex;

}  

.site-nav .item + .item {
    margin-left: 40px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);    
    font-style: normal;
    font-size: 14px;    
    letter-spacing: 0.02em;
    
}


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav {
    display: flex;    
}

/* .auth-nav .item:first-child {
    margin-left: 0;
}

.auth-nav .item  {
    margin-left: 50px;
} */

.auth-nav .item+.item {
    margin-left: 50px;
}

.auth-nav .auth-link {
    color: var(--title-text-color);
    
    display: block;
}    

.auth-nav .auth-link:hover,
.auth-nav .auth-link:focus {
    color: var(--accent-color);
}

.hero {    
    background: var(--background-hero-footer-color);
    color: var(--white-color);
    height: 600px;            
}

.hero-title {
    display: inline-block;
    font-size: 44px;
    line-height: 1.4;  
    text-align: center;
    letter-spacing: 0.06em;        
    color: var(--white-color);
    
    margin-bottom: 30px;
    
}

.btn-hero {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-family: inherit;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--white-color);
    
    padding: 10px 32px ;
    min-width: 216px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    
}

.section-info {
    margin-top: 94px ;       
}

.info {
    display: flex;    
    min-width: 1170px;
    min-height: 98px;
    align-content: center;
    justify-content: center;
}

.info .section-text+.section-text {
    margin-left: 30px;
}

.section-text {
    width: 270px;
    height: 98px;
}

.section-title {
    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;    
    text-align: start;
}

.subsection {
    
    font-size: 14px;
    line-height: 1.7;    
    letter-spacing: 0.03em;    
    color: var(--title-text-color);
}

.title-page,
.title-teem {
    
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-visual {
    margin-top: 94px;    
}

.main-img{
    display: flex;
    align-content: center;
    justify-content: center;
}

.main-img .item-visual+.item-visual{
    margin-left: 30px;
}

.section-teem {
    margin-top: 94px;
    background-color: var(--background-primary-color);    
}

.teem-page {
    display: flex;
    align-content: center;
    justify-content: center;
}

.teem-page .item-teem+.item-teem {
    margin-left: 30px;
}

.item-teem {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1632px;
    
    background: var(--white-color);
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 0;
}

.section-teem-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    color: var(--primary-text-color);
}

.subsection-teem {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;

    color: var(--title-text-color);
}

.section-teem > .title-page {
    padding-top: 94px;
}

.page-footer{
    margin-top: 94px;
    height: 252px;
    background-color: var(--background-hero-footer-color);
}

.footer-conteiner {
    flex-direction: column;
    display: flex;
    padding-top: 60px;
    padding-left: 215px;

}

.page-logo-end {                
    
    
    font-size: 26px;
    line-height: 1.2;    
    letter-spacing: 0.03em;
    color: var(--white-color);            
}



.tel,
.mail {
    color: var(--footer-text-color);
    
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.adrs {
    color: var(--white-color);
    
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
